{% extends "menu.html" %}
{%block menu%}
{% load static %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Entradas</h1>

    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Divida Mensal
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$: 652,38</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Entrada Mensal
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$: 500,00</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Falta
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">R$: 152,38</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Valor da Divida do Proximo Mês :
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$: 896,00</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Button adicionar entrada -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Entradas</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal"
                data-bs-target="#modal_entrada">
            <i class="fas text-white-50"></i>
            Adicionar Entrada
        </button>
    </div>
    <!-- Final do button adicionar entrada -->

    <!-- Modal adicionar entrada -->
    <div class="modal fade" id="modal_entrada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Entrada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'controle:entradas' %}" method="post">
                    {%csrf_token%}
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Data: </label>
                            <input type="date" name="data_entrada" id="data_entrada" class="form-control">
                        </div>
                        <div class="form-group">

                            <label>Descrição: </label>
                            <input type="text" name="descricao_entrada" id="descricao_entrada" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Quantidade de X Dividida: </label>
                            <input type="text" name="quantidade_de_x_dividido" id="quantidade_de_x_dividido" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Valor Mensal: </label>
                            <input type="text" name="valor_mensal" id="valor_mensal" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Valor Total : </label>
                            <input type="text" name="valor_total" id="valor_total" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Situação Entrada : </label>
                            <input type="text" name="situacaoentrada" id="situacaoentrada" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Categoria Entrada: </label>
                            <input type="text" name="categoriaentrada" id="categoriaentrada" class="form-control">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ferchar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- final do modal de adicionar entrada -->

    <!-- tabela de entrada -->

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Situação</th>
                    <th>Quantidade de X Dividido</th>
                    <th>Valor Dividido</th>
                    <th>Valor Total / Valor Restante</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Situação</th>
                    <th>Quantidade de X Dividido</th>
                    <th>Valor Dividido</th>
                    <th>Valor Total / Valor Restante</th>
                </tr>
                </tfoot>
                <tbody>
                {% for entrada in entradas %}
                <tr>
                    <td>{{entrada.data|date:'d/m/Y'}}</td>
                    <td>{{entrada.categoriaentrada.descricao}}</td>
                    <td>{{entrada.situacaoentrada.descricao}}</td>
                    <td>{{entrada.quantidade_de_x_dividido}}</td>
                    <td>R$ <span id="valor_mensal{{entrada.id}}">{{entrada.valor_mensal|floatformat:2}}</span></td>
                    <td>R$ <span id="valor_total{{entrada.id}}">{{entrada.valor_total|floatformat:2}}</span></td>
                    <td>
                        <button class="btn-lixeira" data-target="#modalExcluir{{entrada.id}}" data-toggle="modal">
                            <i class="fas fa-trash"></i>
                        </button>

                    </td>
                    <td>
                        <button class="btn-lixeira" type="submit" data-target="#modalAlterar{{entrada.id}}"
                                data-toggle="modal">
                            <i class="fas fa-edit"></i>
                        </button>

                    </td>

                </tbody>
                <!-- Modal alterar entrada -->
                <div class="modal fade" id="modalAlterar{{entrada.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Alterar Entrada</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'controle:alterarentrada' id=entrada.id %}" method="post">
                                {%csrf_token%}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Data: </label>
                                        <input type="date" name="data_alterar" id="data_alterar" value="{{entrada.data|date:'Y-m-d'}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Descrição: </label>
                                        <input type="text" name="descricao_alterar" id="descricao_alterar" value="{{entrada.descricao}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Quantidade de X Dividido: </label>
                                        <input type="text" name="quantidade_de_x_dividido_alterar" id="quantidade_de_x_dividido_alterar{{entrada.id}}"
                                               value="{{entrada.quantidade_de_x_dividido}}"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Valor Mensal: </label>
                                        <input type="text" name="valor_mensal_alterar" id="valor_mensal_alterar{{entrada.id}}"
                                               value="{{entrada.valor_mensal_alterar|floatformat:2}}"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Valor Total: </label>
                                        <input type="text" name="valor_total_alterar" id="valor_total_alterar{{entrada.id}}" value="{{entrada.valor_total_alterar|floatformat:2}}"
                                               class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Situação: </label>
                                        <input type="text" name="situacao_alterar" id="situacao_alterar" value="{{entrada.situacao_alterar.id}}" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Categoria: </label>
                                        <input type="text" name="categoria_alterar" id="categoria_alterar" value="{{entrada.categoria_alterar.id}}" class="form-control">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-primary">Savar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Final do modal alterar entrada -->

                <!-- Modal excluir -->
                <div class="modal fade" id="modalExcluir{{entrada.id}}" tabindex="-1"
                     aria-labelledby="exampleModaExcluirlLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalExcluirLabel">Excluir Entrada</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Deseja Excluir a Entrada {{entrada.categoria.descricao}}?
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'controle:excluir_entrada' id=entrada.id %}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        Sim
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Final do modal excluir entrada -->
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- Final da tabela de entrada-->


    <!-- Final da pag -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Desenvolvido por Pamela Araujo - Pxtech</span>
            </div>
        </div>
    </footer>
    <!-- acabou a pagina -->

</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

{% endblock %}